<%= render 'shared/header' %>
<div class="masthead" style="background-image: url(<%= asset_pack_path 'media/images/analysis.jpg' %>);">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end mb-5">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-start">個人情報保護方針</h2>
            <p class="card-text text-start">本ウェブサイトは、ABCanalysis（以下「当サービス」）の事業内容等を紹介するサイトです。</p>
            <h4 class="font-weight-bold">個人情報保護方針</h4>
            <p class="card-text text-start">
            当サービスは、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、当サービス提供側に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。</p>
            
            <h4 class="font-weight-bold">個人情報の管理</h4>
            <p class="card-text text-start">
            当サービスは、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。</p>
            
            <h4 class="font-weight-bold">個人情報の利用目的</h4>
            <p class="card-text text-start">
            本ウェブサイトでは、お客様からのお問い合わせ時に、お名前、e-mailアドレス等の個人情報をご登録いただく場合がございますが、これらの個人情報はご提供いただく際の目的以外では利用いたしません。お客さまからお預かりした個人情報は、当サービスからのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。</p>
            
            <h4 class="font-weight-bold">個人情報の第三者への開示・提供の禁止</h4>
            <p class="card-text text-start">
            当サービスは、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</br>
            ・お客さまの同意がある場合</br>
            ・お客さまが希望されるサービスを行なうために当サービスが業務を委託する業者に対して開示する場合</br>
            ・法令に基づき開示することが必要である場合</p>
            
            <h4 class="font-weight-bold">個人情報の安全対策</h4>
            <p class="card-text text-start">当サービスは、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。</p>
            
            <h4 class="font-weight-bold">ご本人の照会</h4>
            <p class="card-text text-start">
            お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。</p>
            
            <h4 class="font-weight-bold">法令・規範の遵守と見直し</h4>
            <p class="card-text text-start">
            当サービスは、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p>
            
            <h4 class="font-weight-bold">お問い合わせ</h4>
            <p class="card-text text-start">
            当サービスの個人情報の取扱に関するお問い合せはログインの上で、「お問い合わせ」フォームから承っています。</p>
          </div>
        </div>
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="card-title text-start">免責事項</h2>
            <p class="card-text text-start">本ウェブサイトの情報は、一部のサービスを除き、無料で提供されています。当サービスを利用したウェブサイトの閲覧や情報収集については、情報がユーザーの需要に適合するものか否か、情報の保存や複製その他ユーザーによる任意の利用方法により必要な法的権利を有しているか否か、著作権、秘密保持、名誉毀損、品位保持および輸出に関する法規その他法令上の義務に従うことなど、ユーザーご自身の責任において行っていただきますようお願いいたします。</p>
            <p class="card-text text-start">当の御利用につき、何らかのトラブルや損失・損害等につきましては一切責任を問わないものとします。</p>
            <p class="card-text text-start">当サービスが紹介しているウェブサイトやソフトウェアの合法性、正確性、道徳性、最新性、適切性、著作権の許諾や有無など、その内容については一切の保証を致しかねます。</p>
            <p class="card-text text-start">当サービスからリンクやバナーなどによって他のサイトに移動された場合、移動先サイトで提供される情報、サービス等について一切の責任を負いません。</p>
            
            <h2 class="card-title text-start mt-4">著作権</h2>
            <p class="card-text text-start">本ウェブサイトに掲載されている全てのコンテンツは、ABCanalysisが所有しています。書面による許可なく、個人的な目的以外で使用することは禁止されています。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
