.masthead h1, .masthead .h1 {
  font-size: 2.25rem;
}

.masthead .card {
  border-radius: 15px;
  background-color: rgba($color: #ffffff, $alpha: 0.9);
  color: black;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  .masthead p {
    font-size: 1.15rem;
  }
  .masthead h1, .masthead .h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .masthead h1, .masthead .h1 {
    font-size: 3.5rem;
  }
}

li {
  list-style: none;
}

.text-gradient {
  background: -webkit-linear-gradient(315deg, #1e30f3 0%, #e21e80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
