<%= render 'shared/item_header' %>
<div class="masthead" style="background-image: url(<%= asset_pack_path 'media/images/analysis.jpg' %>);">  
  <h1>分析表作成画面</h1>
  <%= render 'form', item: @item %>
  <%= link_to 'Back', user_items_path %>
</div>
