<p>こんにちは <%= @resource.email %>!</p>

<p>あなたのアカウントでパスワード変更の要請がありました。 下記のリンクでパスワード変更申請のページへ遷移することができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>当メールに心当たりがないようなら無視して下さい。</p>
<p>「パスワードを変更する」というリンクを踏むまではパスワード変更申請はなされません。</p>
